.button {
	color: 0000;
	background-color: #feca30;
    border-radius: 20px;
    padding: 20px; 
    display: inline-block;
    font-family: "Verdana";
    text-decoration: none;
    font-weight: bold;
}

.button:hover {
	background-color: #fff;
	border: 3px solid #0000;  
}